
main
{   display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 3.9rem;
    background: url("../new/light.jpg") no-repeat  ;
    background-size: cover;
    background-position: center 35% ;
    padding-top: 10px;
   
    .container 
    {
        grid-column: 2/7;
        height:550px;
        padding-top: 8rem !important;
        color: white;
        background-color: transparent;
        font-family: $font;
        text-shadow: 0 2px 5px crimson;
    }
    img{
        border-radius: 20%;
        grid-column: 9/12;
        align-self: center;
        position: relative;
        bottom: 5%;
    }
    .skill-set
    {
        &:hover
        {
            color:  #942239;
        }
    }
    .tiny-text
    {
        font-size: 1rem;
        color: #5f5656;
        font-weight: 200;
        text-shadow: none;
        margin-bottom: 0;
    }
}
.btn-lg{
    border-radius: 20px;
    font-size: 1rem;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid #dc143c;
    &:hover, :active{
        background-color: #dc143c;
        outline: none;
        border: none;
    }
    
}
.img-thumbnail{
    
    background: transparent;
    border: 1px solid #dee2e6;
}

// large screem styles


//tablet styles
@media screen and (max-width:1000px){
    main{
        background: url("../new/medium.jpg");
        background-repeat: no-repeat;
        background-position: center 35% ;
        .tiny-text{
            font-size: 1rem;
            color: #5f5656;
            font-weight: 200;
            text-shadow: none;
            margin-bottom: 0;
        }
    }
    
}

//small screen styles
@media screen and (max-width:680px){
    main{
        background: url("../new/small.jpg");
        background-repeat: no-repeat;
        background-position: center 60% ;
        background-size: cover;
        height: 60%px;
        .container{
            grid-column: 2/12;
            height:100%;
            padding-top: 3rem !important;
            justify-content: center;
            .my-name h1{
                font-size: 100% ;
            }  
        }
        img{
            
            display: none;
        }
    }  
}

@media screen and (max-width:522px){
    main{
        height: 50%;
        .container{
            grid-column: 2/12;
            height:100%;
            box-sizing: border-box;
            padding-top: 10% !important;
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
            .skill-text, .spans, .firstbutton, .tiny-text, .my-name{
               text-align: center;
            } 
            .tiny-text{
                font-size: 70%;
            }     
        }
    }  
}
