#navigation
{
   background-color: #181818;  
    
    // box-shadow: 0 5px 10px #29343f;
    .navbar-brand
    {   
        font-family: $font;
        color: $shadow-color;
        text-shadow: $shadow-color;
        font-size: $nav-font-size;
        &:hover
        {
            font-size: $nav-font-size;
            color: #942239;
        }

    }
     .navbar-nav .nav-link, .skill-set
    {
        color: $shadow-color;
        font-family: $font;
        &:hover
        {
            font-size: $nav-font-size;
            color:  #942239;
        }
        
    }
}





