#navigation{
   background-color: black;  
   justify-content: space-between;
    .navbar-brand
    {   
        font-family: $font;
        color: $shadow-color;
        text-shadow: $shadow-color;
        font-size: $nav-font-size;
        &:hover
        {
            font-size: $nav-font-size;
            color: #942239;
        }

    }
     .navbar-nav .nav-link, .skill-set
    {
        color: $shadow-color;
        font-family: $font;
        &:hover
        {
            
            color:  #942239;
        }
        justify-content: space-between;
        position: relative;
    }    
}
@media (min-width:992px){
    #bs-demo{
        position: absolute;
        right: 60px !important;
        li{
            margin-left: 10px;
        }
    }

}
.nav-link{
    text-transform: uppercase;
    font-size: 0.8em;
}


