$shadow-color: #dc143c;
$nav-font-size: 24px;
$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$back-color:  #151516cf;
@import "./navigation";
@import "./main";
@import "./footer";
@import "./project";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    margin: 0;
    overflow: auto;
    
} 
body
{
    position: relative;
    background-color: $back-color;
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

.about-info
{
    color: whitesmoke;
    background-color: #151516cf;
    // padding-bottom: 3rem;
    box-sizing: border-box;
    height: 550px;
    // background: url("../new/compute.png") no-repeat ;
    // background-size: contain;
    // background-position: center  20%;
   
    h2
    {
        text-align: center;
        font-family: $font;
        text-shadow: 0 2px 5px crimson;
        // font-size: 150%;
    }
    .infogrid{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        height: 100%;
        align-items: center;
       
        
        .container{
            background-color: #151516cf;
            height: 100%;
            font-size: 90%;
            grid-column: 5/9;
            p{
                text-align: center;
                color: whitesmoke;
                font-family:  Helvetica, sans-serif;
                font-weight: 100;
            }
        }
        
    }
    
}
.skillsec{
    
    .container{
        display: grid;
        grid-template-columns: repeat(13,1fr);
        .card:first-child{
            grid-column: 2/5;
        }
        .card:nth-of-type(2){
            grid-column: 6/9;
        }
        .card:nth-of-type(3){
            grid-column: 10/13;
            .progress-bar{
                background-color: red;
            }
        }
        
    }
}
.card 
{
    border: none;
    box-shadow: 6px 6px 60px #00000033;
    background: #151516cf;
    height: 450px;
    text-align: justify;
    color: whitesmoke;
    font-weight: 200;
    padding-left: 2%;
    h2{
        text-align: center;
        font-family: $font;
        text-shadow: 0 2px 5px crimson;
    }
    &:hover
    {
      text-decoration: none;
      position: relative;
      bottom: 5px;
    }
    .card-text,.bar1
    {
       margin:auto 10px;
       
    
    }
    ul.card-text{
        list-style-type: none ;
    }
    
}


// media queries
// @media screen and (max-width: 880px){
//     .about-info{
//         .infogrid{
//             .container{
//                 grid-column: 2/8;
                
//             }
//         }
//     }
// }
@media screen and (max-width: 767px){
    .skillsec{
    
        .container{
            gap: 20px;
            .card:first-child{
                grid-column: 3/11;
            }
            .card:nth-of-type(2){
                grid-column: 3/11;
                grid-row: 2;
            }
            .card:nth-of-type(3){
                grid-column: 3/11;
                grid-row: 3;
            }
            
        }
    }
    .about-info{
        .infogrid{
            // align-items: flex-start;
            .container{
                // margin-top: 5%;
                grid-column: 4/9;
                
            }
        }
    }
}
@media screen and (max-width: 576px){
    .about-info{
        .infogrid{
            .container{
                h2{
                    padding-bottom: 2rem !important;
                }
                grid-column: 4/10;
                    
            }
        }
    }
}

@media screen and (max-width: 430px){
    .about-info{
        height: auto;
        .infogrid{  
            .container{
                grid-column: 2/12;
                height: auto;
                font-size: 90%;
            }
                
        }
        
    }
    h2{
        font-size: 120%;
    }
    
}