$shadow-color: #dc143c;
$nav-font-size: 24px;
$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
@import "./navigation";
@import "./main";
@import "./footer";
@import "./project";

*{
    margin: 0;
    padding: 0;
    

}

html{
    scroll-behavior: smooth;
    margin: 0;
    overflow: auto;
    
} 

body
{
    position: relative;
    background-color: #2F303A;
    
    overflow: hidden;
    
    
}

.jumbotron
{  
   
   color: white;
   
   background-color: transparent;
   font-family: $font;
   
   text-shadow: 0 2px 5px crimson;
   
}
.about-info,.project-main
{
    
    color: whitesmoke;
    h2
    {
        text-align: center;
        font-family: $font;
        text-shadow: 0 2px 5px crimson;
    }

}
h3.project-info,h2.contact-info
{
    color: whitesmoke;
    text-align: center;
    font-family: $font;
    text-shadow: 0 2px 5px crimson;
}
.card, .info
{
    border: none;
    box-shadow: 6px 6px 60px #00000033;
    background: #151516cf;
    height: 450px;
    text-align: justify;
    &:hover
    {
      text-decoration: none;
      position: relative;
      bottom: 5px;
    }
    .card-text,.bar1
    {
       margin:auto 10px;
       
    
    }
    
}
.info{
    position: relative;
    top: 1.5rem !important;
}

.project-main
{
    
   background-color:  #151516cf;
   height: 550px;
}
.carousel-inner{
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
}
.carousel-item.active{
    grid-column: 2/13;
}
ul.card-text
{
    list-style-type: none ;
}
#project-frame
{
   height: 80%; 
    .col-6
    {   
        height: 100%;
        overflow: visible;
    }
        
}    
a[href="#project-carousel"]
{
    height: 35%;
    position: absolute;
    bottom: 8.5%;
    top: auto;
}
@media (max-width:980px)
{
    .project-main
    {
        height: 300px;
    }
    a[href="#project-carousel"]
    {
        height: 10%;
        bottom: 15%;
       
    }
    #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-prev
    {
        left: 10%;
    }
    #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-next
    {
        left: 80%;
    }
    .img-fluid
    {
        max-height: 200px;
        position: relative;
        left: 20%;
    }
}

@media (max-width:767px)
{
    a[href="#project-carousel"]
    {
        height: 5%;
        bottom: 13%;
       
    } 
    #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-next
    {
        left: 85%;
    }

    
}
@media (max-width:650px)
{
    #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-next
    {
        right: 5%;
    }
    #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-prev
    {
       left: 5%;
    }
    .img-fluid
    {
        
        left: 10%;
    }
}
@media (max-width:484px)
{
    a[href="#project-carousel"]
    {
        height: 5%;
        
       
    } 
}
@media (min-width:351px) and (max-width:390px)
{
    a[href="#project-carousel"]
    {
        
        bottom: 15%;
       
    }
}


@media (max-width:350px)
{
    a[href="#project-carousel"]
    {
        
        bottom: 12%;
       
    } 
    .project-main
    {
        height: 200px;
    }
    
}
@media (max-width:250px)
{
    a[href="#project-carousel"]
    {
        
        display: none;
       
    }
}
@media (max-width:390px)
{   .icons
    {
        flex-wrap: wrap;
    }
    
}
.infogrid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 5px;
    .info{
        grid-column: 1/6;
    }
    .me-cards{
        grid-column: 7/12;
    }
}

