#navigation {
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navigation .navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #dc143c;
  text-shadow: #dc143c;
  font-size: 24px;
}

#navigation .navbar-brand:hover {
  font-size: 24px;
  color: #942239;
}

#navigation .navbar-nav .nav-link, #navigation .skill-set {
  color: #dc143c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#navigation .navbar-nav .nav-link:hover, #navigation .skill-set:hover {
  color: #942239;
}

@media (min-width: 992px) {
  #bs-demo {
    position: absolute;
    right: 60px !important;
  }
  #bs-demo li {
    margin-left: 10px;
  }
}

.nav-link {
  text-transform: uppercase;
  font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  margin-top: 4rem;
  background: url("../new/light.jpg") no-repeat;
  background-size: cover;
  position: relative;
  bottom: 3px;
  height: 700px;
}

main .container .row {
  height: 500px;
}

main .container .row img {
  border-radius: 50%;
}

main .skill-set:hover {
  color: #942239;
}

main .tiny-text {
  font-size: 1rem;
  color: #5f5656;
  font-weight: 200;
  text-shadow: none;
  margin-bottom: 0;
}

.btn-primary {
  border-radius: 20px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #dc143c;
}

.btn-primary:hover, .btn-primary :active {
  background-color: #dc143c;
  outline: none;
  border: none;
}

.img-thumbnail {
  background: transparent;
}

@media (min-width: 767px) and (max-width: 991px) {
  #about > div > div > div:nth-child(1) > div > p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #img-r {
    position: relative;
    bottom: 90px;
    left: 20%;
  }
  div.skill-text, p.button {
    position: relative;
    left: 20%;
  }
  h3.mb-0 .my-name, h3.mb-0 span {
    position: relative;
    left: 20%;
  }
}

@media screen and (max-width: 575px) {
  #img-r {
    position: relative;
    bottom: 20%;
  }
}

@media screen and (max-width: 295px) {
  #about > div > div > div:nth-child(1) > div > p {
    font-size: 0.8rem;
  }
}

.card-text {
  text-align: justify;
}

footer {
  color: #707070;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 200;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer::before {
  content: "";
  display: block;
  clear: both;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

footer .social {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social a {
  margin: auto 10px;
}

#project-main .container {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  overflow: auto;
}

body {
  position: relative;
  background-color: #2F303A;
  overflow: hidden;
}

.jumbotron {
  color: white;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 2px 5px crimson;
}

.about-info, .project-main {
  color: whitesmoke;
}

.about-info h2, .project-main h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 2px 5px crimson;
}

h3.project-info, h2.contact-info {
  color: whitesmoke;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 2px 5px crimson;
}

.card, .info {
  border: none;
  -webkit-box-shadow: 6px 6px 60px #00000033;
          box-shadow: 6px 6px 60px #00000033;
  background: #151516cf;
  height: 450px;
  text-align: justify;
}

.card:hover, .info:hover {
  text-decoration: none;
  position: relative;
  bottom: 5px;
}

.card .card-text, .card .bar1, .info .card-text, .info .bar1 {
  margin: auto 10px;
}

.info {
  position: relative;
  top: 1.5rem !important;
}

.project-main {
  background-color: #151516cf;
  height: 550px;
}

.carousel-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.carousel-item.active {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
}

ul.card-text {
  list-style-type: none;
}

#project-frame {
  height: 80%;
}

#project-frame .col-6 {
  height: 100%;
  overflow: visible;
}

a[href="#project-carousel"] {
  height: 35%;
  position: absolute;
  bottom: 8.5%;
  top: auto;
}

@media (max-width: 980px) {
  .project-main {
    height: 300px;
  }
  a[href="#project-carousel"] {
    height: 10%;
    bottom: 15%;
  }
  #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-prev {
    left: 10%;
  }
  #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-next {
    left: 80%;
  }
  .img-fluid {
    max-height: 200px;
    position: relative;
    left: 20%;
  }
}

@media (max-width: 767px) {
  a[href="#project-carousel"] {
    height: 5%;
    bottom: 13%;
  }
  #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-next {
    left: 85%;
  }
}

@media (max-width: 650px) {
  #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-next {
    right: 5%;
  }
  #project-main > div > div.row.my-3.ml-md-5.justify-content-center > div.m-5 > a.carousel-control-prev {
    left: 5%;
  }
  .img-fluid {
    left: 10%;
  }
}

@media (max-width: 484px) {
  a[href="#project-carousel"] {
    height: 5%;
  }
}

@media (min-width: 351px) and (max-width: 390px) {
  a[href="#project-carousel"] {
    bottom: 15%;
  }
}

@media (max-width: 350px) {
  a[href="#project-carousel"] {
    bottom: 12%;
  }
  .project-main {
    height: 200px;
  }
}

@media (max-width: 250px) {
  a[href="#project-carousel"] {
    display: none;
  }
}

@media (max-width: 390px) {
  .icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.infogrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 5px;
}

.infogrid .info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

.infogrid .me-cards {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
}
/*# sourceMappingURL=style.css.map */