
footer{

    background: #1f1818;
    
    color: #707070;
    text-align: center;
    
    width: 100%;
    // position: absolute;
    // bottom: 0;
   
    &::before
    {
        content: "";
        display: block;
        clear: both;
    }


    

   
    #contact
    {   

        .contact-line, .copy
        {
            display: inline-block;
            text-align: left;
            
        }
        
        .fab{
            
            font-size: 30px;
            // position: relative;
            // left: 90px;
            
        }


        .fa-instagram{
            color:crimson;
           
            
        }   
        .fa-twitter{
            color: #3a9bdb;
            
        }
        .fa-linkedin{
        
            color: rgb(15, 55, 129);
            
        }
    }
  

    @media screen and (max-width: 580px)
    {  
       
    }


}
