main
{
    margin-top: 4rem;
    background: url("new/banner.jpg") no-repeat  ;
    background-size: cover;
    
    height: 700px;
    // margin-bottom: 6%;

    .container .row
    {


        
        height:500px;


        img
        {
            border-radius: 50%;
        }
    }
        
    .skill-set
    {
       
        &:hover
        {
            
            color:  #942239;
        }
        
    }
    
}

@media screen and (max-width:565px)
{

    #img-r
    {
        height: 80%;
        width: 80%;
        position: relative;
        bottom: 40%;

    }
}
@media screen and (min-width:566px) and (max-width:767px)
{

    #img-r
    {
        height: 80%;
        width: 80%;
        position: relative;
        bottom: 100px;

    }
}


   
