main
{
    margin-top: 6.5rem;
    
    height: 700px;
    // margin-bottom: 6%;

    .container .row
    {


        
        height:500px;


        img
        {
            border-radius: 50%;
        }
    }
        
    .skill-set
    {
       
        &:hover
        {
            
            color:  #942239;
        }
        
    }
    
}



   
