#navigation
{
   background-color: #181818;  
    
    box-shadow: 0 5px 10px #29343f;
    .navbar-brand
    {   
        font-family: $font;
        color: $shadow-color;
        text-shadow: $shadow-color;
        font-size: $nav-font-size;
        &:hover
        {
            font-size: $nav-font-size;
            color: #942239;
        }

    }
     .navbar-nav .nav-link
    {
        color: $shadow-color;
        font-family: $font;
        &:hover
        {
            font-size: $nav-font-size;
            color:  #942239;
        }
        
    }
}





// .navbar
// { 
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     box-shadow: 0 5px 10px #29343f;
//     background-color: #181818;
//     border: none;
//    border-radius: 0%;
//     box-sizing: border-box;
//     z-index: 1;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
// }