$shadow-color: #dc143c;
$nav-font-size: 24px;
$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
@import "./navigation";
@import "./main";
@import "./footer";
@import "./project";

*{
    margin: 0;
    padding: 0;
    

}

html{
    scroll-behavior: smooth;
    margin: 0;
    overflow: auto;
    
} 

body
{
    position: relative;
    background-color: #2F303A;
    
    overflow: hidden;
    
    
}

.jumbotron
{  
   
   color: white;
   
   background-color: transparent;
   font-family: $font;
   
   text-shadow: 0 2px 5px crimson;
   
}
.about-info,.project-main
{
    
    color: whitesmoke;
    h2
    {
        text-align: center;
        font-family: $font;
        text-shadow: 0 2px 5px crimson;
    }

}
h3.project-info
{
    text-align: center;
    font-family: $font;
    text-shadow: 0 2px 5px crimson;
}
.card
{
    border: none;
    box-shadow: 6px 6px 60px #00000033;
    background: #181920cf;
    height: 450px;
    &:hover
    {
      text-decoration: none;
      position: relative;
      bottom: 5px;
    }
    .card-text,.bar1
    {
       margin:auto 10px;
       
    
    }
    
}
.project-main
{
   background-color:  #181920cf;
   height: 500px;
}
#project-frame
{
   height: 80%; 
    .col-6
    {   
        height: 100%;
        overflow: visible;
    }
        
}    





