$shadow-color: #dc143c;
$nav-font-size: 24px;
$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
@import "./navigation";
@import "./main";
@import "./footer";

*{
    margin: 0;
    padding: 0;
    

}

html{
    scroll-behavior: smooth;
    margin: 0;
    overflow: auto;
    
} 

body
{
    position: relative;
    background: url("new/banner.jpg") no-repeat  ;
    background-size: cover;
    overflow: hidden;
    
    
}

.jumbotron
{  
   
   color: white;
   
   background-color: transparent;
   font-family: $font;
   
   text-shadow: 0 2px 5px crimson;
   
}
 .about-info
{
    color: whitesmoke; 
    
}  
#project-frame
{
   height: 80%; 
    .col-6
    {   
        height: 100%;
        overflow: visible;
       

        iframe
        {
            width: 100%;
            height: 60%;
            margin: auto;
            overflow: hidden;
            border: none;
            
        }
        
}    




