    *{
    margin: 0;
    padding: 0;
    

}

html{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}
 
body { 
    background: #252627 url("banner.jpg")  center ;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-size: cover;
    position: relative;
    height: 1200px;
  }
.navbar{
    padding: 0 100px 0 100px;
    box-shadow: 0 5px 10px #29343f;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.logo{
    font-size:16px;
}
nav ul,nav{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
   
 }
 header{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row    ;
     justify-content: space-between;
     padding: 20px 0;
     
     
 }

 header h1,header a{
     color:#707070;
 }
 li{
     margin-left: 30px;
 }
 .work {
     height:5px;
     font-size: 22px;
     text-align: center;
     position: absolute;
    top: 29%;
    left: 10%; 
     color: white;

 }
 .skill-text
 { 
      display: inline-flex;
    height:5px;
     font-size: 14px;
     position: absolute;
     left: 50px;
     top: 2px;

 }
 a{
     text-decoration: none;
 }
 a:hover,.skill-set:hover{
     color:crimson;
     font-size: 20px;
 }
 
.name-span
    {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
    }

.my-name
{
    text-shadow: 0 2px 5px crimson;
}

 
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
  }
 .myformtag
 {  color: whitesmoke;
     text-shadow: 0,2px,4px crimson;
     font-size: 10vm;
     position: relative;
     top: 10%;
 }
  main{

    height: 950px;
  }
.contact-section{
    display: inline-flex;
    position: absolute;
    bottom: 50px;
    margin: 0 25%;
      

}
.contact-line{
    font-size: 1em;
    color:#707070;
    text-align: center;
    margin: 5px;
    border: 2px solid #252627;

}
.link {

    text-align: center;
    
}
.link a{

    color: #e0c5c5;
}
footer{
    position: absolute;
    bottom: 0;
    left: 25%;
    color: #707070;
    text-align: center; 
}