    *{
    margin: 0;
    padding: 0;
    

}

html{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}
.navbar{
    padding: 0 100px 0 100px;
    box-shadow: 0 5px 10px #29343f;
    
    background-color: #181818;
}
.logo{
    font-size:16px;
}
nav ul,nav{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
   
 }
 header{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row    ;
     justify-content: space-between;
     padding: 20px 0;
     
     
 }

 header h1,header a{
     color:#707070;
 }
 li{
     margin-left: 30px;
 }
 .work {
     height:5px;
     font-size: 22px;
     text-align: center;
     position: absolute;
    top: 55%;
    left: 10%; 
     color: white;

 }
 .skill-text
 { 
      display: inline-flex;
    height:5px;
     font-size: 14px;
     position: absolute;
     left: 50px;
     top: 2px;

 }
 a{
     text-decoration: none;
 }
 a:hover,.skill-set:hover{
     color:crimson;
     font-size: 20px;
 }
 
.name-span
    {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
    }

.my-name
{
    text-shadow: 0 2px 5px crimson;
}

  
  body { 
    background: #252627 url("banner.jpg")  center ;
    height: 100%;
    margin: 0;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
  }
 .myformtag
 {  color: whitesmoke;
     text-shadow: 0,2px,4px crimson;
     font-size: 10vm;
 }
  
 